apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init
data:
  init.sql: |
    CREATE TABLE greetings (
      id SERIAL PRIMARY KEY,
      message TEXT NOT NULL
    );
    INSERT INTO greetings (message) VALUES ('Hello from Database!');
